.Search{
    position: relative;
    padding: 6px 40px 15px 20px;
    width: 20px;
    color: #525252;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: 0.1px solid grey;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
    /* transition: width 0.4s ease; */
    
    
    
  }
  .Search:hover{ width: 200px; }
  .Red{color:red;}
  .custom-container{

    width: 100%;
    position:relative;
    top:5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-item.active .page-link {
    background-color:#960303!important
  }
  .page-link{
    background-color:#CC0000!important
  }
  .page-link:hover{
    background-color:#960303!important
  }
  .aLink{
    flex: auto;
    color: black!important;
    cursor: pointer!important;
    text-decoration: none!important;
  }